:root {
    --primary-bg-color: #22252d;
    --secondary-bg-color: #292d36;
    --primary-text-color: white;
    --secondary-text-color: #22252d;
    --tertiary-text-color: #dadbdc;
    --green-text-color: #26fad3;
    --red-text-coor: #eb6666;
    --icon-inactive: #6c6e74;
    --icon-active: #eeeeef;
    --btn-color: #272b33;
    --btn-depth: #24272f;

    --primary-bg-color-dark: #22252d;
    --secondary-bg-color-dark: #292d36;
    --primary-text-color-dark: white;
    --secondary-text-color-dark: #22252d;
    --tertiary-text-color-dark: #dadbdc;
    --green-text-color-dark: #26fad3;
    --red-text-coor-dark: #eb6666;
    --icon-inactive-dark: #6c6e74;
    --icon-active-dark: #eeeeef;
    --btn-color-dark: #272b33;
    --btn-depth-dark: #24272f;

    --primary-bg-color-light: #ffffff;
    --secondary-bg-color-light: #f9f9f9;
    --primary-text-color-light: #292d36;
    --secondary-text-color-light: #e6e9ef;
    --tertiary-text-color-light: #292e37;
    --green-text-color-light: #23cfaf;
    --red-text-coor-light: #eb6666;
    --icon-inactive-light: #dedede;
    --icon-active-light: #383c44;
    --btn-color-light: #f4f2f2;
    --btn-depth-light: #ececec;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f4f2f2;

    min-height: 100vh;
    
}

#calc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: auto;
    width: 450px;
    height: 650px;
    min-width: 450px;
    min-height: 650px;

    background-color: var(--primary-bg-color);
    border-radius: 20px;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

footer {
    margin-top: auto;
    height: 30px;

    text-align: center;
    color: var(--secondary-text-color);
}

a {
    color: var(--secondary-text-color);
    text-decoration: underline var(--green-text-color);
    text-decoration-thickness: 2px;
}

#mode-switch-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--secondary-bg-color);
    height: 40px;
    width: 100px;

    border-radius: 16px;

    margin-top: 20px;
}

.icon {
    height: 20px;
    width: 20px;

    user-select: none;

    transition: all 0.15s ease 0s;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.10);
}

.icon:active {
    transform: scale(1.025);
}

#light-btn {
    filter: invert(18%) sepia(10%) saturate(849%) hue-rotate(182deg) brightness(93%) contrast(82%)
}

#light-btn.active-icon {
    filter: invert(90%) sepia(0%) saturate(1791%) hue-rotate(199deg)
        brightness(110%) contrast(90%);
}

#dark-btn {
    filter: invert(50%) sepia(7%) saturate(300%) hue-rotate(187deg)
    brightness(83%) contrast(87%);
}

#dark-btn.active-icon {
    filter: invert(99%) sepia(1%) saturate(1009%) hue-rotate(329deg) brightness(112%) contrast(74%);
}

#number-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    height: 160px;
    width: 100%;

    margin-bottom: -50px;
    gap: 10px;
}

#btn-card {
    height: 340px;
    width: 100%;

    background-color: var(--secondary-bg-color);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Max number size: 12 digits */
#number-display {
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-text-color);

    padding-right: 25px;
}

#number-history {
    font-size: 18px;
    font-weight: 500;
    color: var(--tertiary-text-color);

    padding-right: 25px;

    display: flex;
    flex-direction: column-reverse;
    gap: 3px;
}

#btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.card-row {
    display: flex;
    gap: 16px;
}

.calc-btn {
    height: 48px;
    width: 48px;

    background-color: var(--btn-color);

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 16px;
    user-select: none;

    border-radius: 6px;
    border: 1px solid var(--btn-color);
}

.btn-green {
    color: var(--green-text-color);
    font-weight: 400;
}

.btn-green.active-operator {
    border: 1px solid var(--green-text-color);
    filter: brightness(140%);
}

.btn-red {
    color: var(--red-text-coor);
    font-size: 25px;
    font-weight: 400;
}
.btn-red.active-operator {
    border: 1px solid var(--red-text-coor);
    filter: brightness(140%);
}


.calc-btn:hover {
    background-color: var(--btn-depth);
    cursor: pointer;
}

.prev-calculation {
    text-align: right;
}

.operator-text {
    color: var(--red-text-coor);
}